
    html,body {
        padding:0;
        margin:0;
        height:100%;
    }
    #menu, #menu ul {
        padding:0;
        margin:0;
        list-style: none;
        text-align: center;
    }
    
    #menu li {
        display:inline-block;
        vertical-align: top;
        position: relative;
    }
    #menu li li {
        display:inherit;
    }
    #menu a {
        display:block;
        padding:5px 50px;
        text-decoration: none;
        color:#fff;
        font-family:arial;
    }
    #menu ul li a {
        padding:5px 8px;
    }
    #menu ul {
        position: absolute;
        z-index: 1000;
        min-width:100%;
        white-space: nowrap;
        text-align: left;
    }
    #menu ul ul {
        left:100%;
        top:0;
        overflow: hidden;
        max-width: 0;
        min-width: 0;
        transition: 0.3s all;
    }
    #menu ul li:hover ul {
        max-width: 30em;
    }
    #menu ul li {
        max-height:0;
        overflow: hidden;
        transition:all 0.8s;
    }
    #menu li li li {
        max-height: inherit;
    }
    #menu li:hover li {
        max-height: 15em;
        overflow: visible;
    }
    /
    .violet {
    background-color: #65537A;
    background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
    }
    .violet li {
        background:#2A2333
    }
    .violet li:hover {
        background:#65537A
    }
    .bleu {
    background-color: #729EBF;
    background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    }
    .bleu li {
        background:#333A40
    }
    .bleu li:hover {
        background:#729EBF
    }
    .orange {
    background-color: #F6AD1A;
    background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
    }
    .orange li {
        background-color:#9F391A;
    }
    .orange li:hover {
        background:#F6AD1A
    }
    #menu li:hover {
        background-image:none;
    }
    #menu li:hover a, .menu li li:hover a {
        color:#000
    }
    #menu li:hover li a, #menu li:hover li li a {
        color:#fff
    }
    #menu li:hover a, #menu li li:hover a, #menu li li li:hover a {
        color:#000
    }